.grid {
  border: 3px solid black;
  margin: 20px auto;
}

.box {
  background-color: blue;
  padding: 25px;
}

.pointed-border {
  background-color: transparent;
  padding: 0;
}

.box.empty {
  background-color: transparent;
}

.box.full {
  border-radius: 0;
}

.box.top-left {
  border-top-left-radius: 100%; 
}

.box.top-right {
  border-top-right-radius: 100%; 
}

.box.bottom-right {
  border-bottom-right-radius: 100%; 
}

.box.bottom-left {
  border-bottom-left-radius: 100%; 
}

.pointed-border.top-left {
  border-top: 50px solid blue;
	border-right: 50px solid transparent;
}

.pointed-border.top-right {
  border-top: 50px solid blue;
	border-left: 50px solid transparent;
}

.pointed-border.bottom-right {
  border-bottom: 50px solid blue;
  border-left: 50px solid transparent; 
}

.pointed-border.bottom-left {
  border-bottom: 50px solid blue;
	border-right: 50px solid transparent;
}

.header {
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  text-align: center;
}