.grid {
  border: 3px solid black;
  margin: 30px auto;
}

.box {
  background-color: blue;
  padding: 30px;
}

.box.empty {
  background-color: transparent;
}

.box.full {
  border-radius: 0;
}

.box.top-left {
  border-top-left-radius: 50%; 
}

.box.top-right {
  border-top-right-radius: 50%; 
}

.box.bottom-left {
  border-bottom-left-radius: 50%; 
}

.box.bottom-right {
  border-bottom-right-radius: 50%; 
}

.footer {
  text-align: center;
  font-family: sans-serif;
  padding-top: 40px;
}